<!-- <ngx-braintree 
    [clientTokenURL]="'http://localhost:8082/api/braintree/getclienttoken'" 
    [createPurchaseURL]="'http://localhost:8082/api/braintree/createpurchase'"
    (paymentStatus)="onPaymentStatus($event)"
    [buttonText]="'Pay'"
    [showCardholderName]="true"
    [chargeAmount]="100">
</ngx-braintree> -->
<!-- <pre>{{ paymentResponse | json }}</pre> -->
<button class="mat-primary" routerLink="/cart" mat-raised-button type="submit">open cart</button>
<!--   -->


<router-outlet></router-outlet>  
